* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: rgb(34, 40, 49);
}

.princ {
  margin-right: 15%;
  margin-left: 15%;
  background-color: rgb(57, 62, 70);
  border-radius: 39px 39px 0 0 ;
  height: calc(100vh - 0px);
  width: calc(100vw - 30%);
}

#haut-de-page {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 100px 125px 125px 50px;
  border-radius: 50px;
  transition: 0.5s;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  background-color: rgb(50, 130, 184);
  position: relative;
  transition: all 0.3s ease;
}

#haut-de-page:hover { 
  scale: 1.03;
}

#profil {
  position: absolute;
  right: 20px;
  top: 15px;
}

.material-symbols-outlined {
  display: none;
  position: absolute;
}


.logo {
  display: flex;
  width: 60px; 
  border-radius: 15px;
  margin: 5px 0 5px 0;
}

.logo:hover {
  opacity: 0.90;
  cursor: pointer;
}
a , h1 {
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Golos Text', sans-serif;
}

@media screen and (max-width: 1250px) {
  a , h1  {
    font-size: 30px;
    font-weight: 600;
  }
  .logo {
    width: 40px;
    border-radius: 10px;
  }
}

