* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background: #141e30; 
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); 
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); 
}

main {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0 blue, alpha);
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 18%;
  padding: 3rem;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
}
.fa-regular {
  position: absolute;
  top: 260px;
  right: 40px;
}
